.container {
   display: flex;
   flex-direction: column;
}
.box1{
  background-color: lightgrey;
  width: 200;
  height: 150px;
  flex: 1;
}
.box2{
  background-color: white;
  flex: 2;
  height:45vh;

}
.box3{
  background-color: lightblue;
  flex: 1;
  height: 150px;
}
.box4{
  background-color: cyan;
  flex: 1;
  height: 150px;
}
.box5{
  background: lightgreen;
  flex: 1;
  height: 150px;
}
.box6{
  background: yellow;
  flex: 1;
  height: 150px;
}
.bb{
  height:100px;
  width: 100px;
  background-color: lightblue;
  margin-left: 40px;
  margin-top: 20px;
}
.box{
  width: 100vw;
}
h3{
  text-align: center;
  text-align: left;
  padding-left: 40px;
  padding-right: 20px;
}
