html, body {
    margin: 0;
}

main {
    height: 100vh;
    background-color: lightgrey;
}

header {
    background-color: #504f4f;
    height: 30%;
}

footer {
    background-color: black;
    height: 15%;
    width: 70%;
    margin: auto;

}



.middleB {
    background-color: white;
    width: 70%;
    margin: auto;
    height:55%;
}
